body {
    background-image: url('../img/1674267797_balthazar-club-p-pank-estetika-oboi-30.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    padding: 50px 0;
    min-height: 100vh;
}
